
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KingBestMall</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol" !important;
        }
    </style>
</head>

<body style="background:#ffffff;">
<table style="width: 100%; margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed; " cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 100%; padding:0px; text-align: center;" colspan="2">
            <a target="_blank" href="https://www.kingbestmall.com/" style="display:block; color: blue; font-size: 10px;"><img alt="img" width="250px" src="https://kingbestmall.com/assets/images/icons/logo%2011.png"></a>
        </td>
    </tr>
    <tr>
        <td style="width: 100%;text-align: center;" colspan="2">
            <h2 style="color: rgb(29, 34, 40);margin: 0; font-size: 32px">
                Password Reset Request Notification
            </h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding:20px; color: #000; text-align: center;">
            <p style="text-align: left; color:#4f4f4f; font-size:16px; font-weight: 600; margin:0 0 10px;">
                Hi {{username}},
            </p>
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 10px 0;">
                You recently requested to reset your password for your KingBestMall account. Tap the button below to reset your password.
            </p>

            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 10px 0;">
                This password reset request is valid only for the next 24 hours.
            </p>
           
            <a target="_blank" href="{{link}}" style="font-size: 18px; padding: 10px 25px; background: #000; color: #fff; border-radius: 25px; display: inline-block; text-decoration: none; font-weight: 600; box-shadow: 2px 6px 10px -5px #000">Reset Your Password</a>
            
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 12px 0;">
                If you did not request a password reset, please ignore this email. Should you want to contact us, feel free to leave us a note here.</p>
            <p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 0;">Thank You, <br>The KingBestMall Team</p>

        </td>

    </tr>
   <!-- Start App button -->
   <!-- <tr>
    <td colspan="2" style="text-align: center; color: #000; padding:5px 30px;">
        <a target="_blank" href="#" style="display: inline-block;"><img alt="img" src="https://storage.coursefrenzy.com/final/Adroid-Badge.png" width="100%"></a>
        
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align: center; color: #000; padding:5px 30px;">
        <a target="_blank" href="#" style="display: inline-block;"><img alt="img" src="https://storage.coursefrenzy.com/final/IOS-Badge.png" width="100%"></a>
    </td>
</tr> -->
<!-- End App button -->

<!-- Strat Footer -->
<tr>
    <td colspan="2" style="background-color: #fff; padding:0 30px; text-align: center;">
        <p style="color: #000; font-size:14px; padding:15px 0 5px; margin:0; font-weight: 600;">Follow us on Social Media
        </p>
        <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px;">Add your voice to the conversation and get the
            latest news, views and insights from KingBestMall.</p>
    </td>
</tr>
<tr>
    <td colspan="2" style="background-color: #fff; padding:6px 30px 0; text-align: center;">
        <a target="_blank" href="https://twitter.com/mall_best_mall" style="display: inline-block;">

            <img alt="img" width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_twitter_294655.png">


        </a>


        <a target="_blank" href="#" style="display: inline-block; margin-left: 10px">
            <img alt="img" width="35px"
                src="https://storage.rfpgurus.com/category_images/iconfinder_social_media_network-29_1851685.png">
        </a>


        <a target="_blank" href="https://www.instagram.com/kingbestmall4/"
            style="display: inline-block; margin-left: 10px">
            <img alt="img" width="32px" src="https://storage.rfpgurus.com/category_images/iconfinder_social-03_3146786.png">
        </a>

    </td>
</tr>
<tr>
    <td colspan="2" style="background-color: #fff; width:100%; padding:0px 30px 0px; text-align: center;">
        <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px;">Not subscribed to our newsletter yet? <a
                target="_blank" href="https://kingbestmall.com/signup" style="color: rgb(167, 167, 167);">Sign up</a>
        </p>


        <p style="color: rgb(167, 167, 167); margin: 0; font-size: 12px;">If you don't want to receive newsletters from
            KingBestMall, click on <a target="_blank" href="#"
                style="color: rgb(167, 167, 167);">Unsubscribe</a>.</p>



    </td>
</tr>
<tr>
    <td colspan="2" style="text-align: center;padding: 0px 30px 5px;">
        <a target="_blank" href="https:/kingbestmall.com/terms"
            style="font-size: 12px; color: rgb(167, 167, 167);">Terms of Use</a>
        <span style="color: rgb(167, 167, 167);"> | </span>

        <a target="_blank" href="https:/www.kingbestmall.com/privacy-policy"
            style="font-size: 12px; color: rgb(167, 167, 167);">Privacy Policy</a>

        <span style="color: rgb(167, 167, 167);"> | </span>
        <a target="_blank" href="https:/www.kingbestmall.com/" style="font-size: 12px; color: rgb(167, 167, 167);">Visit
            our website <img alt="img" style="vertical-align: middle"
                src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_email%2FRead%20More.png?alt=media&token=1bf3de30-adc3-4b57-a77f-8bfce4faa7f6"></a>
    </td>
</tr>
<!-- End Footer -->
</table>
</body>
</html>
